*{
    box-sizing: border-box;
    list-style: none;
}
body{
    margin: 0px;
}

header{
    padding: 50px;
    text-align: center;
    background: lightblue;
    color: black;
}
header h1{
    font-size: 50px;
}
header h3{
    color: blue;
}
header h4{
    color: red;
    float;
}
nav{
    background-color: red;
    overflow: hidden;

}
nav a {
    display: block;
    color: white;
    text-decoration: solid;
    padding: 14px 20px;
    float: left;
}
section{
    text-align: center;
    padding-top: 40px;
    height: vh;
}
section:nth-child(even){
    background-color: whitesmoke;
}
iframe {
    padding: 0px 5px;
}
img{
    padding: 0px 20px;
}
h2{
    padding-bottom: 40px;
}
footer {
    overflow: hidden;
    background-color: brown;
}
footer a{
    display: black;
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    float: left;
}
.copyright {
    float: right;
}
section h5{
    margin:0px 130px;
}
*{
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 30px;
    padding: 10px;
}

.container {
    background-color: grey;
    padding: 5px 20px 15px 20px;
    border: 5px solid blue;
    border-radius: 10px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select,
textarea {
    width: 500px;
    padding: 50px;
    border: 2px solid red;
    border-radius: 5px;
    margin: 3px;
}
 fieldset {
    background-color: pink;
    border: 1px solid black;
 }

 .main_heading {
    text-align: center;
 }
 
input[type="submit"] {
    background-color: brown;
    color: black;
    padding: 12px 20px;
    border:;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
 }

 input[type="submit"]:hover {
    background-color: #4caf84;
 }
